*~
*.pyc
*.log
*.out
*.bak
*.png
*.pt
*.ckpt
*.txt
*.pdf
*.cache
*.model
*.jsonl
*.tsv
*.csv
*.pkl
*.zip
*.gz
*.tgz
.nfs*
*.e*
*.o*
*.db
*.prob
*.grad*
*.lock
tmp*
_*
*output
*_logs
cached_*
*-out
experiments/data/*/LICENSE
experiments/data/vitc
experiments/data/adversarial
experiments/data/symmetric
experiments/data/triggers
experiments-*
